@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

html {
    background-image: linear-gradient(to right, #8F78AD, #D6DBE8);
    line-height: 1.5em;
}

header {
    border-bottom: 2px green solid;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
}

h1 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
}

#avatar-name {
    display: flex;
    align-items: center; 
}

main {
    margin: 30px
}

body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.add-margin {
    margin-top: 3%;
    margin-bottom: 3%;
}

footer {
    border-top: 2px green solid;
}

section {
    border: 2px black solid;
    margin: 25px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.6);
}

.hidden {
    display: none
}

button {
    font-size: 24px;
    margin: 10px;
    border: 0.5rem outset #8F78AD;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}